{% load crispy_forms_tags %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='//whephiwums.com/vignette.min.js' data-zone='8932776' data-sdk='show_8932776'></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Todo - Bosh sahifa</title>
  </head>
  <style>
    body {
      background-color: black;
    }
  </style>
  <body>

    <div style="width: 450px; height: 1000px; position: relative; background: #1B1A1A">
      <div style="left: 110px; top: 50px; position: absolute; color: white; font-size: 42.40px; font-family: ADLaM Display; font-weight: 400; word-wrap: break-word">ZERO BOSS</div>
      <div style="width: 375px; height: 100px; left: 37px; top: 128px; position: absolute; background: #3F3D3D; border-radius: 15px; overflow: hidden">
        <div style="left: 21px; top: 4px; position: absolute; color: white; font-size: 35px; font-family: ADLaM Display; font-weight: 400; word-wrap: break-word">Balance</div>
        <div style="left: 21px; top: 50px; position: absolute; color: white; font-size: 25.81px; font-family: ADLaM Display; font-weight: 400; word-wrap: break-word" id="balance">0.01₽</div>
        <div style="padding-top: 8px; padding-bottom: 9px; padding-left: 8px; padding-right: 8px; left: 201px; top: 27px; position: absolute; background: #FF6B00; border-radius: 8px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
          <div style="color: white; font-size: 21.33px; font-family: ADLaM Display; font-weight: 400; word-wrap: break-word"><a style="color: white; text-decoration: none;" href="{% url 'withdraw' %}">WITHDRAW</a></div>
        </div>
      </div>
      <div id="collect-rewards" style="padding-top: 14px; padding-bottom: 15px; padding-left: 24px; padding-right: 24px; left: 37px; top: 463px; position: absolute; background: #F56A07; box-shadow: 4px 4px 4px #FF6B00 inset; border-radius: 15px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
        <button onclick="showRewardedAdd()" style="background-color: #F56A07; border: 1px solid #F56A07; font-size: 35px; font-family: ADLaM Display; font-weight: 400; word-wrap: break-word"><a style="color: white; text-align: center; text-decoration: none;" href="#">COLLECT REWARDS</a></button>
    </div>
      <div style="width: 375px; height: 80px; padding-left: 46px; padding-right: 46px; padding-top: 10px; padding-bottom: 10px; left: 37px; top: 824px; position: absolute; background: #3F3D3D; border-radius: 15px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; position: relative">
          <a href="{% url 'index' %}"><img style="width: 60px; height: 60px; left: 0px; top: 0px; position: absolute" src="{% static 'img/image 1.png' %}"/></a>
          <a href="https://t.me/avazbekabduraxmonov"><img style="width: 60px; height: 60px; left: 111px; top: 0px; position: absolute" src="{% static 'img/image (3).png' %}" /></a>
          <a href="https://t.me/avazbekabduraxmonov"><img style="width: 60px; height: 60px; left: 223px; top: 0px; position: absolute" src="{% static 'img/images.png' %}"/></a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
          let balanceElement = document.getElementById("balance");
    
          // Balansni localStorage dan olish yoki default qiymatni berish
          let balance = parseFloat(localStorage.getItem("balance")) || 0.01;
          balanceElement.innerText = balance.toFixed(2) + "₽";
    
          function updateBalance(amount) {
              balance += amount;
              balanceElement.innerText = balance.toFixed(2) + "₽";
              localStorage.setItem("balance", balance);
          }
    
          // showRewardedAdd funksiyasini aniqlaymiz
          window.showRewardedAdd = function () {
              if (typeof show_8932776 === 'function') {
                  show_8932776().then(() => {
                      updateBalance(0.01);
                      alert("You have earned +0.01₽");
                  }).catch(error => {
                      alert("Failed to show reward ad.");
                      console.error('Ad Error:', error);
                  });
              } else {
                  alert('Reward ad not available');
              }
          };
    
          document.getElementById("collect-rewards").addEventListener("click", function (event) {
              event.preventDefault();
              showRewardedAdd();
          });
      });
    </script>
    
  
<!--       
    <script>

show_8932776().then(() => {
})
        
    </script> -->
  </body>
</html>